.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 46px;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1px 23px 0;
}
.nav__link {
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  margin: 0 23px;
}
.nav__link-active {
  color: #395378;
}
.nav__link-logout:hover {
  color: tomato;
}
.logo--navbar {
  padding: 1px 13px 0;
}
